@import '~antd/dist/antd.min.css';

@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply leading-loose block font-bold;
  }
  a {
    @apply text-blue-600 underline;
  }
  ol, li {
    @apply pl-5;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }
}

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

svg {
  vertical-align: initial !important;
}